<h1>Welcome!</h1>
<p></p>

<div class="tertiary-nav">
    <div class="row top-bar">
      <div class="small-12  columns">
        <ul class="inline-list right">
          <li><a href="#" class="menu"> <i class="fi-list icon"></i> <span> Menu</span></a> </li>
          <li><a href="#" class="search-icon "><i class="fi-magnifying-glass large icon"></i></a> </li>

          <li class="search-field">
            <form>
              <div class="row collapse">
                <div class="small-12 columns">
                  <input type="text" class="dream-search" placeholder="Search all things">
                </div>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
